# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

npm-debug.log
test.flv

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
